{% extends "blog/post/base.html" %}

{% block title %}Meu Blog{% endblock %}

{% block content %}
    <div class="post-container">
        <h1>Postagens</h1>
        {% for post in posts %}
        <div class="post">
            <h2>
                <a href="{% url 'blog:detalhes_postagem' post.id %}">
                    {{ post.titulo }}
                </a>
            </h2>
            <p>
                Publicado em {{ post.dt_publicado }} por {{ post.autor }}
            </p>
            {{ post.corpo|truncatewords:30|linebreaks }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
