.post-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* Adicione estilos para a borda em torno de cada postagem */
.post h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}